[2018-08-14 13:46] AngeloStavrow opened #1 "PageNav is easily confused by static pages that have a published date"
The newest post added should include the "OLDER &rarr;" link in the top navigation:

<img width="800" alt="screen shot 2018-08-14 at 6 02 26 am" src="https://user-images.githubusercontent.com/387655/44095396-b0e342bc-9fa6-11e8-8fbd-1d3894f95b58.png">

It doesn't include any, and the next-newest article doesn't include a "&larr; NEWER" link to the newest article.

[2018-08-15 10:34] AngeloStavrow opened #2 "Add a theme-based favicon, site logo and avatar"
Right now these are hard-coded to `static/images/` for my personal site; the theme should provide some sensible defaults.

[2018-08-15 10:37] AngeloStavrow opened #3 "Give the theme its own colour palette"
Right now the theme uses the colour palette selected for my personal site; it should have its own — probably something related to the 'indigo' name. 🙃

[2018-08-16 13:53] AngeloStavrow opened #4 "Make permalink customizable"
Right now, angelostavrow.com uses the `hourglass-flowing-sand` emoji (⏳) for permalinks to content, since it ties into the [current site logo](https://github.com/AngeloStavrow/angelostavrow.com/blob/e956e69e7d65515c2e9ac0805e56d6c564be1d6e/static/images/site-logo.svg) nicely.

This should instead be a reasonable default (maybe something like 🔗) with the option to customize this in `config.toml`.

[2018-08-17 22:09] AngeloStavrow opened #5 "RSS feed should output the full-text version"
Right now, the default Hugo RSS feed only outputs the summaries of each post, rather than the full content.

[2018-08-20 13:31] AngeloStavrow opened #6 "Add standard repository documentation"
Every good project needs a few docs:

- [ ] README ([PurpleBooth's template](https://gist.github.com/PurpleBooth/109311bb0361f32d87a2) is excellent)
- [x] CHANGELOG ([Keep A Changelog](https://keepachangelog.com/en/1.0.0/))
- [X] LICENSE
- [x] CONTRIBUTING (including a Code of Conduct)

[2018-08-21 11:31] AngeloStavrow opened #7 "Social icons in footer are blocked by 1Blocker X"
In Safari for iOS with 1Blocker X installed and enabled, social icons in the footer are blocked. That’s a bit weird, as they’re just links to my profile on those sites.

[2018-08-21 17:45] #4 closed, assigned to AngeloStavrow

[2018-08-21 20:09] #2 closed, assigned to AngeloStavrow

[2018-08-21 20:27] #3 closed, assigned to AngeloStavrow

[2018-08-22 17:22] AngeloStavrow opened #8 "PageNav menu is limited"
The current design is set up such that the top of the page is split into 5 equal sections:

1. Either a spacer or the "Newer" article link;
2. First menu item;
3. Second menu item;
4. Third menu item;
5. Either a spacer or the "Older" article link.

However the code doesn't limit the number of menu items, so that could go bonkers if someone adds more than three menu pages.

We should probably use

[2018-08-22 17:41] #5 closed, assigned to AngeloStavrow

[2018-08-22 20:04] #1 closed, assigned to AngeloStavrow

[2018-08-23 09:38] AngeloStavrow opened #9 "Review community requirements for themes"
If we want this added to the community theme page, we have to make sure that it's useful to the community. Here are some documents to review:

- https://gohugo.io/themes/creating/
- https://gohugo.io/contribute/themes/

## tl;dr

- [x] Create your theme using hugo new theme `<THEMENAME>`;
- [x] Test your theme against https://github.com/gohugoio/hugoBasicExample
- [x] Add a theme.toml file to the

[2018-08-25 14:56] #8 closed, assigned to AngeloStavrow

[2018-08-26 13:19] AngeloStavrow opened #10 "Social icons are hard-coded"
We should instead

1. use `{{ with .Params.ServiceUsername }}` conditionals to add them only if they exist in config.toml
2. probably use flex box to more gracefully handle the spacing.

[2018-08-26 13:20] AngeloStavrow opened #11 "Consider some other social networks for social footer"
For example:

- [x] Facebook
- [x] Stack Overflow
- [x] Tumblr
- [x] Keybase

[2018-08-29 20:45] #11 closed, assigned to AngeloStavrow

[2018-08-30 19:39] #10 closed, assigned to AngeloStavrow

[2018-08-30 20:21] AngeloStavrow opened #12 "Validate site on IndieWebify.me"
https://indiewebify.me can run some IndieWeb validation tests on your site. Here are some things to fix:
# Mark up the content with microformats2
## h-card ✅
- [x] Add a note/bio: `<p class="p-note">…</p>`

## h-entry ✅
- [x] Marking up post's author as a string: `<a class="p-author h-card" href="example.com>Author Name</a>` or add a link to the author's homepage with `rel=author`
- [ ] Add URLs o

[2018-08-31 16:13] AngeloStavrow opened #13 "Add support for categories taxonomy"
The default taxonomies for a new Hugo install are `tags` and `categories`. I'm pretty happy with how `tags` are handled in the theme, but adding support for categories would be nice too. I'm not sure of how to best display a list of categories without adding more clutter to the theme, though.

[2018-09-14 12:42] #13 closed, assigned to AngeloStavrow

[2018-09-14 12:50] AngeloStavrow opened #14 "Clean up config.toml"
Right now there's a bit too much redundancy between config.toml and the page front-matter, like `author`/`AuthorName` parameters. I removed the `.Site.Params.AuthorName` parameter in a9cb556, but we should better define site and post authors.

To do:

- [x] Default to `.Params.Author` but fallback to `.Site.Author` (don't forget **footer.html**!)
- [x] Remove `.Site.Params.CopyrightOwner` for `.Si

[2018-09-21 12:25] #14 closed, assigned to AngeloStavrow

[2018-09-26 13:04] AngeloStavrow opened #15 "Show author profile"
On my personal site, this is hidden, but most folks would probably want this showing.

[2018-09-30 15:55] #15 closed, assigned to AngeloStavrow

[2018-09-30 16:00] #12 closed, assigned to AngeloStavrow

[2018-09-30 17:18] #6 closed, assigned to AngeloStavrow

[2018-09-30 17:37] AngeloStavrow opened #16 "Create a demo site for the theme"
Screenshots are nice, but let’s give users a nice demo site to see what the template looks like.

This should be linked to from the README, and —since it's a blog— can be used to post updates to the theme with new releases. Ideally, this will be highly automated.

[2018-10-06 15:33] #9 closed

[2018-10-13 11:59] AngeloStavrow opened #17 "Bundle Fira Code fonts with theme"
Brought up in [gohugo/hugoTemes issue 442](https://github.com/gohugoio/hugoThemes/issues/442): We shouldn't be using rawgit for downloading files to production; this is all the more pertinent now with rawgit shutting down.

[2018-10-15 00:00] #17 closed

[2018-10-16 16:11] sauerj opened #20 "Homepage URL on 404.html is broken"
Hey, thanks for your work. I like your theme.

I noticed that on the 404.html page the link back to the homepage is broken.
Instead of a valid URL a link to `Page("Homepage name")` is created.

I have a fix ready and can submit a pull request if you want.

[2018-10-16 16:16] sauerj opened #21 "Lost </div> in 404.html"
By inspecting the source of the generated 404.html, Firefox noticed a lost `</div>` just after the `</section>` from `layouts/404.html`

This is caused by `layouts/partials/footer.html:2` which is closing the "content" `<div>` which does not exist in `layouts/404.html`

[2018-10-17 18:33] AngeloStavrow commented on #21
Thanks for your report! I'll fix this shortly, unless you have a PR ready for submitting.

[2018-10-17 18:33] AngeloStavrow commented on #20
Thanks for reporting this, and for your kind words!

If you've got a pull request ready, please go ahead and submit it — I'll review it ASAP.

[2018-10-17 18:36] sauerj commented on #21
No, unfortunately I do not have a PR ready. I was not sure how you want to address this issue.

[2018-10-17 18:37] #20 closed

[2018-10-17 18:43] sauerj opened #23 "Long loading times, flickering"
On https://themes.gohugo.io/theme/indigo/ the loading time is quite long and the site text is flickering.

I think this is caused by HTTP 404 error during loading the fonts. On a private test site I notice this too but then it is caused by the quite big fonts `FiraSans-Book.ttf` and `FiraSans-Bold.ttf`

~~I noticed that many links to images, fonts are absolute instead of relative links.~~
I notice

[2018-10-17 18:44] AngeloStavrow commented on #21
That's fair enough. Let me consider how to best approach this. The more I think about it, I realize that I'm not overly fond of having a random `</div>` at the top of a partial.

[2018-10-17 18:48] sauerj commented on #23
![indigo-font-404](https://user-images.githubusercontent.com/14033792/47109152-d1dc7180-d24d-11e8-926c-4f1b1ca5c173.png)

First the text is rendered with a system font and then re-rendered. Same issue on [Netflify](xenodochial-beaver-f9b778.netlify.com.)

[2018-10-17 20:41] AngeloStavrow commented on #23
Interesting. Do you see the fonts being loaded on the demo site? Or is it reverting to the fallbacks?

[2018-10-17 20:49] sauerj commented on #23
I believe that it is reverting to the fallbacks on the demo site, but I am not 100% sure. On the linked site to my test page on netlify the fonts are correctly loaded but I can see flickering when the site changes to the correct fonts.

[2018-10-17 20:58] sauerj commented on #23
To be clear, the flickering only appears with an empty cache. On the demo site on every reload.

[2018-10-18 13:53] AngeloStavrow commented on #23
@sauerj There's a separate [issue in the theme gallery demo site](https://github.com/gohugoio/hugoThemes/issues/442#issuecomment-430350304) where fonts aren't loading correctly. I'm trying to track that down.

On the other hand, I believe the 'flickering' you're referring to might be what's known as the "Flash Of Invisible Text" (FOIT) or, with some browsers, the "Flash Of Unstyled Text" (FOUT), w

[2018-10-18 14:02] #23 closed

[2018-10-18 14:35] AngeloStavrow opened #26 "Provide some guidelines in the README for adding social networks"
It's faster for users to find the account they want to add if the social networks are listed alphabetically in `config.toml.example`; this ordering should extend to the presentation of the icons in `layout/partials/social.html` as well.

We also have to think about the implications of how many social icons we add for readers on small screens. As it stands, the icon size is about as small as I'm co

[2018-10-18 21:08] sauerj opened #27 "Static files can not be accessed when baseURL contains a path"
When the `baseURL` configuration contains a path eg: https://www.example.org/user/example/ files under `/static` can not be found.

I set up a [testsite](https://www.oxygin.net/themes/indigo) with `baseURL = "https://www.oxygin.net/themes/indigo"` in config.toml

The icons and fonts can not be loaded because the site looks under the path `/icons` `/fonts` instead of `/themes/indigo/icons` etc.

[2018-10-20 01:28] AngeloStavrow commented on #27
Thanks for the report! I’ll dig into the Hugo docs to see what the best path forward is.

[2018-10-20 11:42] AngeloStavrow commented on #7
This appears to be due to some overly-strict rules on 1Blocker X, and not anything that Indigo is doing wrong.

[2018-10-20 11:42] #7 closed

[2018-10-20 11:49] AngeloStavrow commented on #27
This repros on the Hugo Themes [demo site]() so it'd be really nice to fix ASAP.

Fixing this on the icons as discussed in #23 should be pretty straightforward — prefixing the `img src` with `baseURL` (or some variant like `absURL` or `relURL`, maybe) should fix this in the **social.html** partial.

However, the tricky part is going to be the fonts, as I'm not sure that I can add Hugo templating c

[2018-10-20 14:57] AngeloStavrow opened #28 "Improve contribution process"
Let’s make it clear and easy for people to help improve the project! Things that need improving include, but are not limited to:

- [x] reviewing the CONTRIBUTING doc for incomplete guidance
- [x] separate the code of conduct from CONTRIBUTING
- [x] set up issue templates
- [x] set up PR templates

Im also thinking about setting up a public roadmap somewhere, like Trello or similar.

[2018-10-20 18:50] AngeloStavrow commented on #27
Okay, I think the solution for using `baseURL` in CSS for loading our fonts lies in plain-text partials, as described in the [release notes for Hugo 0.20.2](https://github.com/gohugoio/hugo/releases/tag/v0.20.2). We can pull the `@font-face` declarations out of the main **style.css** file, and put them into **layouts/partials/fonts.css**, and then load them into the page like so:

[code]

When I t

[2018-10-21 14:49] #27 closed

[2018-10-21 14:49] AngeloStavrow commented on #27
Merged into `master`.

[2018-10-23 14:13] AngeloStavrow commented on #28
Added "bug report" and "feature request" issue templates in 97a9817

[2018-10-23 14:46] AngeloStavrow opened #32 "Audit project files for unnecessary whitespace, typos in comments, inconsistent indentation, etc."
**Is your feature request related to a problem? Please describe.**
While they don't necessarily affect functionality, it's a good idea to go through the project files and fix any inconsistencies like:

- Trailing whitespace
- Inconsistent indentation (prefer 4 spaces everywhere)
- Comments are still relevant

**Describe the solution you'd like**
Some tools can probably used to automate this, but t

[2018-10-24 08:13] michimani opened #34 "Site logo link not generated correctly"
**Describe the bug**
Site logo link not generated correctly at page header.

**To Reproduce**
Steps to reproduce the behavior:
1. set `baseURL = "https://example.com/"` to `config.toml`
2. `hugo` or `hugo server -D`
3. check the html source of site-logo part
4. incorrect link `https://example.com//images/site-logo.svg`

**Expected behavior**
Fix site-logo path in layout files.
- `layouts/404.html`

[2018-10-24 11:55] AngeloStavrow commented on #34
Good catch. Other assets are set up as `{{ .Site.BaseURL }}directory/asset-name.extension``; the site logo should be retrieved the same way as all other assets.

[2018-10-24 12:03] michimani commented on #34
Thank you for your comment.
I have already prepared PR for solving this issue. May I create a PR?

[2018-10-24 12:13] AngeloStavrow commented on #34
@michimani Yes, that would be wonderful! Thanks. 😊

[2018-10-25 09:15] AngeloStavrow opened #36 "Better presentation of social icons in footer"
**Is your feature request related to a problem? Please describe.**
Currently, the theme includes fourteen social network icons — thanks to the contributors that added their favourite networks! However, the footer layout was originally laid out to accommodate the original eleven, and the `<div id="social-icons>` is getting pretty crowded on desktop — and looks terrible on smaller mobile screens (se

[2018-10-25 15:51] #21 closed

[2018-10-30 21:07] RicardoBelchior opened #37 "Question: how to generate static images"
Hi guys,

this is probably a stupid question (i'm not a front-end dev). I see you have many different resolutions of the site "logo" , as in _favicon-32x32.png_, _android-chrome-192x192.png_, _mstile-150x150.png_, etc.
what's the standard/easy way of generating those images for my site?

cheers,
ricardo

[2018-10-31 14:44] sauerj commented on #27
@AngeloStavrow Sorry for the late test, I can confirm that everything works as expected.

[2018-10-31 14:55] AngeloStavrow commented on #27
Glad to hear it, thanks!

[2018-10-31 18:49] RicardoBelchior commented on #37
That was super helpful!
Thank you

[2018-11-02 17:55] dpflug commented on #36
What about using `justify-content: center;` or maybe `display: grid;` so the wrapping looks more natural?

[2018-11-02 21:12] dpflug commented on #26
Something I've done in my playing around with creating a theme was format the social network config like so:

[code]
etc, and then in the template, use:

[code]

Don't know if that's the direction you want to go, but it works pretty well for me.

[2018-11-07 18:46] nancym opened #38 "Remove 'Fallback' in css font-family list"
First, thank you for this nice theme with no third-party dependencies!

`static/css/style.css` contains lines like this:

[code]

And `layouts/partials/fonts.css` contains font-family 'Charter' and others, but no font-family named Fallback. Where is Fallback specified or does it have a special meaning in CSS that I don't know about?

Thanks for any info about the Fallback font-family.

[2018-11-08 11:07] AngeloStavrow commented on #38
That's a good catch, @nancym — I spent more time trying to get the fonts loading than actually paying attention to how I was writing them!

I used [this article](https://css-tricks.com/snippets/css/using-font-face/) to sort that out and it looks like I just copy/pasted the font declarations instead of actually defining a fallback. I will remove `Fallback` from any `font-family` declarations in the

[2018-11-08 19:12] nancym commented on #38
I'm learning about non-third-party fonts too and kept wondering if maybe "Fallback" was a new reserved word in CSS4 or CSS5. Thank you for helping me to learn about hosting fonts on my site!

[2018-11-14 12:21] AngeloStavrow opened #40 "Add webmention support"
**Is your feature request related to a problem? Please describe.**
It would be a better IndieWeb experience to have the theme pull in and display webmentions as suggested in #12.

**Describe the solution you'd like**
There are services like https://webmention.io that can be used to aggregate webmentions for static sites. However, this will involve adding JavaScript that makes external requests; th

[2018-11-24 01:14] RyanSquared commented on #36
I'd prefer having something usable than shrinking down icons to the point of uselessness for the sake of keeping it on one line. I wonder if there's a way to dynamically size to fit up to a certain threshold, at which point it could wrap around to another line?

[2018-11-24 03:20] dpflug commented on #36
Two more suggestions I got:

1) Categorize the icons in some way, and stick them under mini-headings.
2) "Unbox" the icons for Facebook, LinkedIn, and Flickr, then use `space-between` and `flex-wrap`.

[2018-11-24 04:08] RyanSquared commented on #36
Bit hard, given it's just two dots in a box.

[2018-11-27 17:57] AngeloStavrow commented on #36
The social icons are taken from FontAwesome — there may be "unboxed" variants that can be used instead, for consistency.

[2019-04-28 12:10] kuleszdl opened #41 "Headings h1 and h2 are interchanged"
First of all, thank you a lot for making this great theme available! How,ever I noticed that the style of the headings seems to be a bit off:

**Describe the bug**
Headings of level h1 appear smaller than those of level h2.

**To Reproduce**

Build a site using both headings, e.g.:

[code]

or

[code]

**Expected behavior**
Heading 1 should be larger than heading 2.

**Screenshots**

![screen](htt

[2019-04-28 22:57] kuleszdl opened #42 "Add social network identifier for mastodon"
Would be great if linking to a mastodon account would be as easy as linking to one of the other social networks.

[2019-05-01 22:16] AngeloStavrow commented on #42
Good call!

[2019-05-01 22:18] AngeloStavrow commented on #41
Whoopsie, yeah. I’m using `h1`s for the title and should apply the same styling (or `font-size`, at least) in the article body too.

[2019-06-02 02:18] infominer33 opened #44 "Twitter \ OG \ Header Images [Feature Request]"
First of all, let me say THANK YOU, for this Gorgeous Indieweb enabled Hugo Theme! I came over from Jekyll just to get here :)

* https://infominer.id/web-work/
* https://github.com/infominer33/web-work

**Is your feature request related to a problem? Please describe.**

Twitter \ OG Cards are not properly populating.

I also would love the option to include a feature image both on the homepage an

[2019-06-05 11:08] AngeloStavrow commented on #44
Thanks for opening this! You're right that generally speaking, meta tags for the site aren't populating properly — I recently discovered https://www.heymeta.com/ as a good way to verify this working on another site, and there are a bunch of things that could be improved.

[2019-06-05 11:17] infominer33 commented on #44
yes, I've been discovering that there is code for that, but haven't examined it closely.

I'm pretty new to static site development, so I'd eventually dig in to see what could be done with it. Just lately I've been seeing what indieweb themes are available for whatever SSG, and seeing where they're at collectively... and let my interest in indieweb drive my heaviest habit: independent web-publishi

[2019-06-08 20:15] AngeloStavrow commented on #38
Also going to take this opportunity to change `font-display` from `optional` to `fallback`, for better accessibility.

[2019-06-13 06:07] infominer33 commented on #44
So, would probably need some tweaking for hugo...

However, I just dropped this include into
[Jekyll-Indieweb](https://github.com/miklb/jekyll-indieweb) and it works great!

* [Minimal Mistakes SEO include](https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/seo.html)
* [Associated (not extremely thorough) documentation](https://mmistakes.github.io/minimal-mistakes/docs/configurati

[2019-06-13 10:47] AngeloStavrow commented on #44
Ah that seems pretty straightforward to port, nice find!

[2019-06-19 07:09] xavierroy commented on #40
Could you also take alook at https://webmention.app/?

[2019-06-23 04:19] infominer33 commented on #44
now we're cooking w grease!

https://github.com/mikeymop/minimal-mistakes-hugo/blob/master/hugo/minMistakes/themes/minMistakes/layouts/partials/seo.html

I figured out the other day there is a hugo version of minimal mistakes, the creator built for both platforms at once..

anyways, his is the gold standard as far as Jekyll themes go... pretty sure all that's required is to keep a copy of his orig

[2019-06-24 10:10] #38 closed

[2019-06-24 12:27] #41 closed

[2019-06-24 12:53] AngeloStavrow opened #48 "Move theme colours to a partial file for easy customization"
**Is your feature request related to a problem? Please describe.**
My [personal site](https://angelostavrow.com) is powered by the Indigo theme, but with a different set of colours. This adds a fair bit of friction to the process of updating the theme when changes are made.

**Describe the solution you'd like**
Pull the colours out of `static/css/style.css` and move them to a file in `partials`, t

[2019-06-24 22:19] AngeloStavrow opened #49 "Link to @infominer33's post in the README"
A thorough writeup of the theme has been graciously written by @infominer33 at https://web-work.tools/indieweb/indigo-indieweb-features/ — the README should link to it!

[2019-06-25 19:14] kisik21 commented on #40
@xavierroy webmention.app is used with outgoing webmentions, while webmention.io (and the scope of this issue) is processing inbound webmentions.

[2019-06-25 21:54] infominer33 opened #50 "Metadata: Site Title and Description is used for each page."
**Describe the bug**

I"m just now reading over the contributors guidelines, and considered that I should have started there.. (and am new to github... but learning quick enough I hope :)

I already made a [pull request](https://github.com/AngeloStavrow/indigo/pull/46) for this

As it stands Metadata for each page is chosen with this code:

[code]

the result is that each page uses the Site Title

[2019-06-30 07:48] infominer33 commented on #44
Ok, **Now** I have figured out twitter cards which choose the image from the config file (if params:images is set) and\or the page level if `images` variable provided in the front matter:

[code]

this is now live on my site:

https://github.com/web-work-tools/indieweb/commit/1cc418a0e278a87bccb88799c8e0bc11c8405124

which can be verified by checking the source of https://web-work.tools/indieweb a

[2019-07-14 14:00] AngeloStavrow commented on #50
Good call, this is definitely something I'd categorize as a bug.

In the page's `<title>` tag, I feel like I'd expect something more like:

[code]

What do you think about that, @infominer33?

[2019-07-14 18:21] infominer33 commented on #50
yeah, if you have some more "proper" or even just different solution, I'm all for going with your inclination and swapping out my patch. :D

I commonly share on Twitter, Discord, Keybase, etc.... and was just happy to have each pages title and description reproduced. I think each of these social sites displays the domain along w generated meta-data.. which may be why I didn't worry about the site-

[2019-07-14 18:49] infominer33 commented on #44
I just wanted to include, because it's not obvious if you don't visit the site, but I didn't just pass that image variable through to the og_image, but also have set a header image on each page.

I don't know enough CSS to make this proper, but I'm happy with it for now.. I feel like I got quite a lot of value from adding a few simple lines of code.

## Example on a Post
![](https://imgur.com/BFI8

[2019-07-14 19:04] #49 closed

[2019-07-14 19:12] AngeloStavrow commented on #50
For _sharing_, you're right that your issue #44 will help to dispel any confusion. But another use case to consider is that the `<title>` tag in an HTML page's `<body>` is displayed in the browser, too. 🙂

A good question to you: what order makes more sense?

[code]
or
[code]
?

[2019-07-14 19:23] infominer33 commented on #50
I tried `<title>{{ .Title }} | {{ .Site.Title }}</title>` in the pull-request... simply because that's how it's displayed on my other sites, and a random sampling of my browser tabs similarly finds the site title displayed on the right side, after the page title mostly... but i don't think it's a rule either way.

I'll defer to your preferences... I haven't gotten those changes live yet to see how

[2019-08-18 15:10] AngeloStavrow opened #52 "Theme is broken on latest version of Hugo"
**Describe the bug**
As described in [this hugoThemes issue](https://github.com/gohugoio/hugoThemes/issues/678), the way lists are rendered breaks in Indigo with Hugo 0.57.0; this has been temporarily rolled back in 0.57.2 but will be brought back with 0.58.

[2019-08-23 12:31] AngeloStavrow commented on #52
There are three incidences of `.Pages` according to [this search](https://github.com/AngeloStavrow/indigo/search?q=.Pages&type=Code). The warning message we get when building Indigo on 0.57.2 is:

[code]

It _sounds_ like we only need to make the change in [**layouts/index.html**](https://github.com/AngeloStavrow/indigo/blob/43b105b39864a9f2537456fd84a0040aaffeceb8/layouts/index.html), but I need

[2019-08-23 12:38] AngeloStavrow commented on #16
Not sure why I closed this. 😬

[2019-08-28 10:34] AngeloStavrow opened #54 ""Newer" / "Older" links in article footer are backward"
## ⚠️ BREAKING CHANGE ⚠️
This will break sites built with Hugo v0.49 and earlier. Please be sure to upgrade Hugo to the latest version.

**Describe the bug**
With Hugo 0.50 and later, the "Newer" link at the bottom of an article goes to an older article, and vice versa. The theme uses `.Next` and `.Prev`, which were [deprecated](https://github.com/gohugoio/hugo/pull/5252) in favour of `.PrevPage`

[2019-08-28 10:43] findgriffin opened #56 "Getting posts to appear on the main page is oddly confusing"
**Describe the bug**
I just spent a few hours trying to figure out how to get my posts to appear on the main page of a new blog I'm creating.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow Hugo [Quick Start](https://gohugo.io/getting-started/quick-start/) guide.
2. Use [Indigo](https://themes.gohugo.io/indigo/) theme.
3. Create a post as per the quick start guide example e.g. `hugo n

[2019-08-28 10:50] #54 closed, assigned to AngeloStavrow

[2019-08-28 10:51] #50 closed

[2019-08-30 11:13] AngeloStavrow commented on #48
Work on this is underway!

The current state of **style.css** is... gross. I'm not a CSS guru by any stretch of the imagination, but I've learned _some_ since I created this theme, and I'd like to clean things up. That's outside the scope of this issue, but in the meanwhile here's the proposal for importing custom CSS.

---

## Pulling in custom CSS

In **layouts/partials/head.html**, after linkin

[2019-08-30 11:22] #32 closed

[2019-08-30 11:30] AngeloStavrow opened #57 "Audit theme file for compliance with Hugo Theme Subsmission Guidelines"
For maximum compatibility with the [Hugo Theme Gallery](https://themes.gohugo.io/), we should go through the template files and make sure they meet the guidelines specified in

- the [hugoThemes README](https://github.com/gohugoio/hugoThemes/blob/master/README.md)
- the [proposed updates](https://github.com/gohugoio/hugoThemes/issues/668) to the submission guidelines

[2019-08-31 10:35] AngeloStavrow commented on #48
The way we're pulling in the font declarations as inline CSS (cf. #27) is polluting `<head>`, so —as part of the work on this issue— I've moved **/layouts/partials/fonts.css** to **/static/css/fonts.css** in 857860ad82bc1debaaecbb44bbd74da6987a2ecc so that it can be linked as a `stylesheet` instead.

This has the side benefit of removing a whole mess of `{{ .Site.baseURL }}` calls as part of #57 t

[2019-08-31 23:54] #48 closed

[2019-09-05 09:46] AngeloStavrow commented on #16
I'm thinking through this work as part of a deeper "keep things up-to-date" process. Here are some loose thoughts:

- The demo site should build from `master` (i.e., the latest stable release)
- The initial content for the site would come from the theme's **exampleSite** directory
- Additional content for the site could come from [gohugoio/hugoBasicExample](https://github.com/gohugoio/hugoBasicExa

[2019-09-05 13:14] AngeloStavrow commented on #16
This work is now being tracked in [AngeloStavrow/hello-indigo](https://github.com/AngeloStavrow/hello-indigo) and is live at [hello-indigo.glitch.me](https://hello-indigo.glitch.me)!

[2019-09-05 13:14] #16 closed

[2019-09-17 08:30] Halderian opened #59 "Add Instagram"
Would be good to add Instagram as social network.

[2019-09-17 12:29] AngeloStavrow commented on #59
Good call! I'm surprised that I forgot Instagram when I first built the theme. 😂

[2019-09-19 12:26] AngeloStavrow commented on #57
# To verify and fix

## From the [hugoThemes README](https://github.com/gohugoio/hugoThemes/blob/master/README.md)

The demo of your theme will be available in a subdirectory of the Hugo Themes website and you need to make sure of the following:

- [ ] If using inline styles, these need to use absolute URLs, for the linked assets to be served properly, e.g. `<div style="background: url('{{ "images

[2019-09-21 13:21] AngeloStavrow commented on #28
I'm re-opening this issue to revert these changes.

These templates really aren't doing more than just making things more complicated and rigid than they need to be. Plus, they're polluting the repo with proprietary files, which is just annoying.

In reality, here's the way I'd love to see contributions happen:

## For a bug report or feature request

1. [Check GitHub](https://github.com/AngeloSta

[2019-09-29 13:43] AngeloStavrow commented on #56
Okay, as part of the work I'm doing in #57, it looks like we can incorporate a new `mainSections` variable in the config file to do this. More detail in the Hugo docs [here](https://gohugo.io/functions/where/#mainsections).

Unless it proves to be spectacularly more complicated than the docs make it appear, I think I'll be able to push a fix for this out by tomorrow evening. :)

[2019-09-30 12:53] AngeloStavrow commented on #56
Closed by #62

[2019-09-30 12:53] #56 closed

[2019-09-30 12:55] AngeloStavrow commented on #28
Closed by #60

[2019-09-30 12:55] #28 closed

[2019-09-30 13:00] AngeloStavrow opened #64 "Document a theme maintenance process"
Per the hugoThemes proposed update (gohugoio/hugoThemes#668), all themes must have some kind of theme maintenance process. If a theme demo breaks with the latest Hugo it will be removed from the Theme Showcase (it is the theme author's obligation to make sure that a theme renders with the latest Hugo).

While this is currently in the proposal stage, it's worth thinking about.

(This issue tracks f

[2019-09-30 13:03] AngeloStavrow commented on #57
Moving the theme maintenance process work to #64 as this requires some discussion with the Hugo community; this work is otherwise done.

[2019-09-30 13:03] #57 closed

[2019-09-30 17:48] findgriffin commented on #56
Thanks so much!

David

Phone (USA): +1 206 307 1002

On Mon, 30 Sep 2019 at 05:53, Angelo Stavrow <notifications@github.com>
wrote:

[2019-10-02 17:44] AngeloStavrow opened #65 "Lists for tags/categories are broken"
If I click on a tag/category in a post, I _expect_ to see a list of posts with the same tag/category.

Instead, what I _actually_ see is the list of all posts as I'd expect on the homepage.

Not sure if this is something that broke with the changes in v1.3.0 around lists.

[2019-10-03 13:21] AngeloStavrow commented on #65
Fixed by #66.

[2019-10-13 18:29] AngeloStavrow commented on #64
From the referenced gohugoio/hugoThemes#668 issue above (emphasis theirs):

As I think about what this means for Indigo, two things come to mind:

1. A process is necessary to ensure that the theme builds and renders as expected with each release of Hugo; and
2. A decision needs to be made for the level of support that I'm capable of providing for users of the theme.

## Support commitment

The se

[2019-10-17 10:58] #64 closed

[2019-10-27 11:25] Mike-EEE opened #69 "Broken Link in ReadMe"
Nice theme. :D  I have selected it and am incorporating it for my next project and have been following the instructions in the `README`.  In doing so, I've encountered what appears to be a broken link here:

https://github.com/AngeloStavrow/indigo/blob/master/README.md#L21

I've done some searching and couldn't find its obvious replacement, so I wanted to let you know.

Continue the great work! 👍

[2019-10-28 12:54] AngeloStavrow commented on #69
Thanks for the kind words, and for the heads up!

To confirm, that's the link that's supposed to point to "theme-installation instructions on the Hugo website", right? It looks like the Hugo team changed their docs, so I'll fix that.

In the meanwhile, check out their Quickstart, specifically the section on how to add a Hugo theme: https://gohugo.io/getting-started/quick-start/

[2019-10-28 13:00] AngeloStavrow commented on #69
Fixed in 58177f2

[2019-10-28 13:00] #69 closed

[2019-10-28 13:00] Mike-EEE commented on #69
Correct!  Thank you much!

[2019-11-04 13:12] AngeloStavrow opened #71 "Make site logo configurable"
Opening this for PR #70 — @metbril, thanks for opening that! Want to share your thoughts on what the goal for your PR is here?

[2019-11-09 12:43] AngeloStavrow opened #72 "Add support and styling for short “microblog” posts"
Right now, the theme will sort-of support “microblog” style short updates that have no title, but they don’t look especially nice in the timeline.

The other bit here is how to limit such posts to a _rendered_ 280 characters, so that they play nice with other services to which you might want to cross-post (e.g. Twitter, micro.blog, Mastodon).

Should Hugo throw an exception on building the site if

[2019-12-10 04:32] infominer33 commented on #56
idk why, but I can only get it to work if I **don't** include the mainsections param

[2020-01-15 23:41] kasuboski opened #73 "Support specifying indieweb endpoints"
I saw params.endpoints section for config.toml referenced https://web-work.tools/indieweb/indigo/features/.

It doesn't seem like that is implemented in this theme, however.

Am I missing something? Currently, have an issue because [Aperture](https://aperture.p3k.io/docs) is expecting the token_endpoint to be set.

[2020-01-16 19:51] AngeloStavrow commented on #73
I _think_ that might be something that was added by @infominer33 to their own site — good catch!

[2020-01-25 11:30] AngeloStavrow commented on #73
Closed by #74 — thanks again!

[2020-01-25 11:30] #73 closed

[2020-01-30 20:56] fredcy opened #75 "AuthorName used in meta tag, but Author in the h-card"
I set up a new site with config.toml based on the themes/indigo/config.toml.example file. With that I find that the meta element for "author" has an empty value in the generated pages:

[code]

If I add an `AuthorName` parameter to config.toml in the `[params]` section then the above element gets that value as its content

It seems wrong to require the author name to be defined as both the `Author

[2020-01-31 18:36] AngeloStavrow commented on #75
Good catch! This is a bug — thanks for reporting it.

We should change `AuthorName` to `Author` [here](https://github.com/AngeloStavrow/indigo/blob/f161ceae5c9a2629d537fd2b9eb37abafae8d77c/layouts/partials/head.html#L6).

[2020-02-01 19:49] j-wang opened #76 "Facebook Social doesn't link to Facebook"
The Facebook social icon doesn't link to Facebook—the partial doesn't provide the rest of the url.

[code]

It should instead be:

[code]

[2020-02-17 04:08] fu-sen opened #78 "CODE block breaks in MS Edge"
I referenced the following on MS Edge:
https://themes.gohugo.io//theme/indigo/post/markdown-syntax/

As a result, one line space is left in CODE block:
![スクリーンショット 2020-02-17 13 02 10](https://user-images.githubusercontent.com/5434159/74623046-67f81300-5186-11ea-8cb2-4908eab1b1ba.jpg)

Chrome and Firefox don't have this, but some Windows users will care.

[2020-02-17 08:08] fu-sen commented on #78
found this solution:
[code]

![スクリーンショット 2020-02-17 17 05 45](https://user-images.githubusercontent.com/5434159/74634813-021c8300-51a8-11ea-86ef-1b55c477da7a.jpg)

CSS may need additional tweaking, but it is a separate issue.

[2020-02-18 18:55] AngeloStavrow commented on #76
Good catch! Sorry that I didn't see this earlier — having a look at #77 now.

[2020-02-18 19:01] AngeloStavrow commented on #78
Thanks for opening this! Code blocks in general could be improved, as they don't play very nicely with Hugo's highlight shortcodes either.

[2020-03-05 11:13] TGNYC opened #79 "Hosting on Github Pages results in Mixed SSL content"
Hello,

I am trying to host my blog using the Indigo theme on Github Pages. However, whenever I force HTTPS through the Github Pages settings, some of the site elements, such as the images (logos, etc.) break. Your help with fixing this problem would be much appreciated.

Thanks!

[2020-03-09 17:31] AngeloStavrow commented on #79
@TGNYC That's curious. I'm enforcing HTTPS on my own GitHub Pages site and I don't any Mixed SSL content. Do you have a link or a repo I can look at to investigate?

[2020-03-23 13:31] DesmondChoy opened #80 "Archives or Tags?"
Hello, is it possible to showcase archives or tags in the main page? Something similar to: https://themes.gohugo.io/theme/hugo-tranquilpeak-theme/

If so, am I able to specify it so the link is at the top of the page with "Home"?

[2020-03-31 11:07] AngeloStavrow commented on #80
Hey @DesmondChoy! Thanks for reaching out.

Right now, what's shown when you click on "Home" the navigation menu at the top of the page is [the site's `baseURL`](https://github.com/AngeloStavrow/indigo/blob/f161ceae5c9a2629d537fd2b9eb37abafae8d77c/layouts/partials/pagenav.html#L5). It would be cool if you could change this in the **config.toml** file to point to something like

[code]

but this wo

[2020-03-31 11:07] #80 closed

[2020-03-31 11:10] #76 closed

[2020-05-13 14:29] strk opened #81 "img.width=100% in CSS style breaks images"
The effects of following CSS snippet in static/css/style.css:
[code]

Break images in that it does not respect their aspect ratio when the images are tagged with explicit width and height. The CSS forces width but height remains stuck with HTML-defined height.

I guess I'm doing something wrong with HTML tags themselves, but this is a markdown obtained directly from https://github.com/SchumacherFM

[2020-05-18 21:16] AngeloStavrow commented on #81
Good catch, @strk — this comes from an assumption based on how I'd add an image to a post when I was putting together the theme (high-resolution image meant to span the entire reading area). We could certainly just centre the image in the article!

As a workaround for now, you can use Indigo's [custom CSS feature](https://hello-indigo.glitch.me/post/custom-css-support/) and add the following, whic

[2020-05-18 21:55] AngeloStavrow commented on #79
I’m going to close this for now, but feel free to re-open with more info!

[2020-05-18 21:55] #79 closed

[2020-05-19 15:17] strk commented on #81
Firefox tells me, when clicking to your `custom CSS feature` link (https://hello-indigo.glitch.me/post/custom-css-support/):

The weird aspect ratio is because your CSS forces the width but does not change the height, and my source file is explicit about both height and width. Changing width keeps the same height which changes apsect ratio.

[2020-05-19 15:34] strk commented on #81
Following the README file I've tried adding my style to `static/css/custom.css` under hugo website root tree, but that file does not get loaded. Note I'm using v1.1.0 because the hugo version I'm using (v0.56) is not supported by latest version of the theme

[2020-05-19 15:46] strk commented on #81
I see custom.css support was added in v1.3.2, which errors out with:

[2020-05-19 15:52] strk commented on #81
Sorry, I see v1.2.0 also has it, and it works!
https://github.com/AngeloStavrow/indigo/commit/7ca58e51b92ac03c4aa8d5e09c5def2f4390c636

[2020-05-19 18:35] AngeloStavrow commented on #81
That's interesting. It's loading normally for me right now, and I don't see any [issues with Glitch's project container availability today](https://status.glitch.com), but The Internet can be a little weird sometimes. Is it still not connecting for you?

This is something I didn't account for — I naïvely expected that the inline width and height on the `<img>` tag would override the stylesheet cas

[2020-05-19 18:45] AngeloStavrow commented on #81
And of course a minute after posting that reply, I found something that works:

[code]

See it in action in [this Glitch project](https://glitch.com/edit/#!/pebble-adventurous-tulip?path=style.css) by clicking on **Show** in the upper-right, then choosing **Next to The Code** to open a split-view.

I'll open a PR in the coming days to fix this. You should be able to use this workaround @strk in yo

[2020-05-19 19:21] strk commented on #81
On Tue, May 19, 2020 at 11:36:05AM -0700, Angelo Stavrow wrote:

I'm not sure about this point, the image may be tiny, in which
case making it large would mean showing pixels

[2020-05-19 19:24] strk commented on #81
Still down for me. DNS issue ?

$ host hello-indigo.glitch.me
Host hello-indigo.glitch.me not found: 3(NXDOMAIN)

[2020-05-19 20:06] AngeloStavrow commented on #81
Setting a `max-width` in the CSS only takes an effect if the `img` is _larger_ than that value. So, if the image is 400px wide and the article is 800px wide, the image will maintain that 400px width. However, if the image is 1200px wide, then it'll be resized to fit the 800px width of the article.

That's really interesting. Maybe an ISP issue?

[2020-05-19 20:16] AngeloStavrow commented on #81
@strk Are you able to load https://hello-webpage.glitch.me in your browser?

[2020-05-21 04:43] strk commented on #81
Nope, my machine can NOT resolve that hostname.
8.8.8.8 DNS server can, so it is definitely my system, will try to find out what it is

[2020-05-21 04:53] strk commented on #81
It looks like these DNS servers both do not resolve hello-webpage.glitch.me:
- [62.101.93.101](https://www.ip-adress.com/ip-address/ipv4/62.101.93.101)
- [83.103.25.250](https://www.ip-adress.com/ip-address/ipv4/83.103.25.250)

They are nameservers assigned by Fastweb (big italian provider), so this is pretty scary...

[2020-05-21 05:23] strk commented on #81
After fixing my DNS problems (changing DNS)... The 100% and `display:block` items won't work in here (for example): https://strk.kbt.io/blog/2013/03/08/on-the-fly-simplification-of-topologically-defined-geometries/ -- I want those 2 images to be side-by-side (`display: block` breaks that) and I want to avoid stretching them bigger than they are.

[2020-05-21 15:29] strk opened #82 "Missing rss link"
Some aggregators expect to find an RSS link in at least the root of a website, something like:
[code]

There's no such metadata in the output produced with this theme (for comparison: it was available with  the `ananke` theme)

[2020-05-23 17:04] AngeloStavrow commented on #82
Good catch!

[2020-05-24 16:55] strk commented on #81
For the record: I changed provider and your hostname (glitch.me) does not resolve again.
Can it be blacklisted somehow ?
I just also changed DNS resolver to 8.8.8.8 (google one), and still does not resolve!
[code]

[2020-05-24 18:21] AngeloStavrow commented on #81
Unfortunately I can't really provide support for Glitch's domain issues — I do believe that they've had reports of users in Italy being unable to access the live-app domain (`*.glitch.me), but maybe they can talk to the right people at Fastweb.

[2020-05-24 18:24] AngeloStavrow commented on #81
Try using `display: inline-block` instead — I think that should work!

[2020-05-24 19:25] strk commented on #81
On Sun, May 24, 2020 at 11:21:28AM -0700, Angelo Stavrow wrote:

This time it's from Google resolvers (not Fastweb).

[2020-05-24 22:41] AngeloStavrow commented on #81
Very strange, even after you flush your local DNS cache and restart your browser? If this continues to be a problem, I recommend getting in touch with Glitch through their [support forums](https://support.glitch.com).

At any rate, that's a separate issue from the `img` question you asked here. Does the `display: inline-block` fix work for you?

[2020-05-27 20:26] AngeloStavrow opened #84 "Don't show date on pages with no date parameter"
If you don't want a date to show on the page, right now the only way to make this happen is to add a `menu: "main"` parameter to the page's front matter — which makes it show up in the main nav, and that may not be what you want.

[2020-05-27 20:31] #84 closed

[2020-05-27 21:04] AngeloStavrow opened #86 "Add web monetization option to theme"
[Web monetization](https://webmonetization.org) is a Web API in draft status that seeks to build open, neutral revenue streams paid directly from site visitors to content creators.

In its simplest form, the site owner sets up a wallet and get a payment pointer; this payment pointer is added to a `meta` tag in the `head` of the site, and you're then set up to receive streamed payments from visitor

[2020-07-13 14:53] #86 closed

[2020-07-14 11:45] maxbla opened #89 "highlight shortcode makes code very hard to read"
This is basically unreadable!

![hugo_before](https://user-images.githubusercontent.com/13515803/87421841-73603680-c58c-11ea-8d7c-5615e4418e0d.png)

Simply removing some css turns it into this, much better.

![hugo_after](https://user-images.githubusercontent.com/13515803/87421892-883cca00-c58c-11ea-9c65-f3a46396dbe7.png)

I can submit a PR with the CSS I removed, but It might make more sense to c

[2020-07-14 14:14] AngeloStavrow commented on #89
Hey @maxbla, thanks for filing this issue — I'm not much of a shortcode user in Hugo, so this was in my blindspot. Great catch!

I'm having a little trouble finding many shortcodes in the Hugo docs for code. Is this coming from the `{{< gist >}}` shortcode? If you can help me reproduce this, then it'll be quicker to fix. 🙂

[2020-07-14 14:21] maxbla commented on #89
It is coming from the [hightlight shortcode](https://gohugo.io/content-management/shortcodes/#highlight). The screenshot was generated with the following markdown
[code]
Let me know if you can't reproduce my screenshots, and I can give your more info.

[2020-07-14 14:37] AngeloStavrow commented on #89
I just realized I referenced this in #78:

_Originally posted by @AngeloStavrow in https://github.com/AngeloStavrow/indigo/issues/78#issuecomment-587666053_

It's probably worth tackling both issues at the same time.

[2020-07-14 14:38] AngeloStavrow commented on #59
Closed by #87 thanks to @TGNYC!

[2020-07-14 14:38] #59 closed

[2020-07-14 14:42] maxbla commented on #89
I decided #78 wasn't applicable because the title specifically mentioned MS edge. Maybe the MS Edge suffix could be removed.

Would you find it useful for me to post the CSS change and the screenshots in that issue instead?

[2020-07-14 14:50] AngeloStavrow commented on #89
Nope, no worries for that! You made the right choice to open a new issue, as they're materially different issues. 🙂

Both problems just happen to involve the same bit of my less-than-awesome CSS. 😂

[2020-07-19 12:17] AngeloStavrow commented on #78
I think this was fixed at some point, maybe with the new Markdown renderer? I don't see this extra-linebreak issue in Edge anymore (the syntax highlighting in #89 is still a problem, though, and I'm fixing it now).

Closing as `wontfix`, but please don't hesitate to re-open if you continue to see an issue!

[2020-07-19 12:17] #78 closed

[2020-07-19 12:25] #89 closed

[2020-07-20 10:56] #81 closed

[2020-07-23 17:04] kuleszdl opened #92 "Show last modification date for posts (and not just creation date)"
It would be great if the post would show both when the post was created as well as when the post was last udpated.

[2020-07-28 15:58] AngeloStavrow commented on #92
Hey @kuleszdl, that's an interesting idea! Do you have thoughts on what it could look like, on desktop and on mobile?

[2020-07-29 10:27] kuleszdl commented on #92
Yes @AngeloStavrow I thought about just having a second line below (or even better above) the line with the date - maybe also in a different color? On the main page in desktop it maybe even could fit in one line.

Also, I am not sure if it makes sense to have the exact time and time zone on the main page. Probably something like this would fit:

     Posted on June 21st, 2020 and last updated on J

[2020-08-11 16:02] damnms opened #93 "make navigation configurable"
it would be nice if the navigation menu's could be configurable.
i would like to add 4-5 other menu entries like "faq" "about" "mail" "register" etc.

[2020-08-11 21:20] AngeloStavrow commented on #93
Hey @damnms, thanks for the feedback! Have you seen [this page](https://hello-indigo.glitch.me/adding-menu-items/) on how you can create pages to be added to the top-bar menu?

(This should be in the README, but it's not, and I'm making a note to fix that.)

Does that help, or did I misunderstand your request?

[2020-08-11 22:26] damnms commented on #93
thanks, thats what i was looking for

[2020-08-11 22:26] #93 closed, assigned to nobody

[2020-08-12 13:20] AngeloStavrow opened #94 "Improve theme setup instructions in the README"
This recently came up in #93. It's documented on the [demo site](https://hello-indigo.glitch.me), but that information should also live in the README — users shouldn't have to look outside of the project files for instructions on using this theme.

[2021-01-01 02:31] fkohrt opened #95 "Allow HTML in the copyright string to be rendered"
As a user, I want to license my content unter a Creative Commons license. Therefore, I'd like to be able to add a link inside the [copyright string](https://github.com/AngeloStavrow/indigo/blob/856a36b/config.toml.example#L3) that won't get escaped.

This [could be implemented](https://github.com/AngeloStavrow/indigo/commit/8a6147ad7a1f3f311e28b89917ececd6014fffcb) using [Hugo's safeHTML](https://

[2021-01-01 02:39] fkohrt opened #96 "Hide "Email me" link if no email address provided"
As a user, I want that providing an email address is optional. Therefore, the "Email me" link should not appear if no email address has been provided.

[2021-01-04 18:46] AngeloStavrow commented on #96
Good idea!

[2021-01-04 18:47] AngeloStavrow commented on #95
Interesting idea!

[2021-03-09 22:12] smashedtoatoms opened #99 "Can't figure out how to filter content"
I want to have my blog as my main content (which works fine) and then a few other sections.  For the life of me I can't figure out how to do it, and it seems like it should be pretty straightforward.  Can you point me to any docs on doing this?

[2021-03-09 22:19] smashedtoatoms commented on #99
FWIW, I got this to work, but it feels like I'm doing it wrong.  I added an `_index.md` file in the content section with a `menu: "main"` section and a title, and then added a layout specifically for it.

[2021-03-15 17:27] #99 closed, assigned to nobody

[2022-11-14 21:02] webkernel opened #101 "Social icons problem in footer"
Hi,

When on localhost:1313 the footer icons are OK. After creating public folder and upload to server, they don't show up.
Site deployed at ct1ete.net

Thanks